 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 98%);
    font-family: 'poppins', sans-serif;
 }

 @media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header h1 {
      font-weight: 200;
      color: hsl(234, 12%, 34%);
    }

    .header h2 {
      font-weight: 600;
    }

    .header p {
      font-size: 15px;
      color: hsl(234, 12%, 34%);
      font-weight: 400;
    }

    .containers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .supervisor {
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(0, 78%, 62%) 4px solid;
    }


  
 }