 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }

 body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'poppins', sans-serif;
 }

 @media (min-width: 601px) {
    body {
        padding: 30px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header h1 {
      font-weight: 200;
      color: hsl(234, 12%, 34%);
    }

    .header h2 {
      font-weight: 600;
    }

    .header p {
      font-size: 15px;
      color: hsl(234, 12%, 34%);
      font-weight: 400;
    }

    .containers {
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      max-width: 900px;
      margin-top: 40px;
      
      
    }

    .supervisor {
      position: relative;
      grid-row: 2;
      grid-column: 1;
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(180, 62%, 55%) solid;
      border-top-width: 4px;
      width: 350px;
      height: 200px;
    }

    .supervisor img {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 60px;
    }

    .team {
      position: relative;
      grid-row: 1;
      grid-column: 2;
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(0, 78%, 62%) solid;
      border-top-width: 4px;
      width: 350px;
      height: 200px;
    }

    .team img {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 60px;
    }

    .karma {
      position: relative;
      grid-row: 3;
      grid-column: 2;
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(34, 97%, 64%) solid;
      border-top-width: 4px;
      width: 350px;
      height: 200px;
    }

    .karma img {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 60px;
    }

    .calculator {
      position: relative;
      grid-row: 2;
      grid-column: 3;
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(212, 86%, 64%) solid;
      border-top-width: 4px;
      width: 350px;
      height: 200px;
    }

    .calculator img {
      position: absolute;
      bottom: 10px;
      right: 20px;
      width: 60px;
      margin: 10px;
    }
 }

 @media (max-width: 600px) {
    body {
        padding: 20px;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .header h1 {
      font-weight: 200;
      color: hsl(234, 12%, 34%);
    }

    .header h2 {
      font-weight: 600;
    }

    .header p {
      font-size: 15px;
      color: hsl(234, 12%, 34%);
      font-weight: 400;
    }

    .containers {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 30px;
    }

    .supervisor {
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(180, 62%, 55%) solid;
      border-top-width: 4px;
      width: 350px;
    }

    .supervisor img {
      position: absolute;
      left: 230px;
      padding: 10px;
    }

    .team {
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(0, 78%, 62%) solid;
      border-top-width: 4px;
      width: 350px;
    }

    .team img {
      position: absolute;
      left: 230px;
      padding: 10px;
    }

    .karma {
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(34, 97%, 64%) solid;
      border-top-width: 4px;
      width: 350px;
    }

    .karma img {
      position: absolute;
      left: 230px;
      padding: 10px;
    }

    .calculator {
      background-color: hsl(0, 0%, 100%);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      border-top: hsl(212, 86%, 64%) solid;
      border-top-width: 4px;
      width: 350px;
    }

    .calculator img {
      position: absolute;
      left: 230px;
      padding: 10px;
    }

    .containers img {
      position: relative;
      
    }

    


  
 }